In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import requests

url = "https://api.massive.com/v2/aggs/ticker/AAPL/range/1/day/2025-11-16/2026-02-16?adjusted=true&sort=asc&limit=120&apiKey=lMverG2ksgKhvDzfjaN_3rUgp0Lljp0y"    # Daha Ã¶nce bulduÄŸunuz URL ile deÄŸiÅŸtirin
api_data = requests.get(url).json()

In [3]:
apple_df = pd.DataFrame(api_data["results"])

In [4]:
apple_df["date"] = pd.to_datetime(apple_df["t"], unit="ms")

In [5]:
apple_df.set_index("date", inplace=True)

In [6]:
apple_df.rename(columns={
    "o": "open",
    "h": "high",
    "l": "low",
    "c": "close",
    "v": "volume"
}, inplace=True)

In [7]:
apple_df.head()

,volume,vw,open,close,high,low,t,n
date,,,,,,,,
2025-11-17 05:00:00,45018260.0,267.9841,268.815,267.46,270.49,265.73,1763355600000,705791
2025-11-18 05:00:00,45677278.0,267.7250,269.990,267.44,270.71,265.32,1763442000000,706583
2025-11-19 05:00:00,40424492.0,269.3251,265.525,268.56,272.21,265.50,1763528400000,626377
2025-11-20 05:00:00,45823568.0,269.4695,270.830,266.25,275.43,265.92,1763614800000,756494
2025-11-21 05:00:00,59030832.0,270.5152,265.950,271.49,273.33,265.67,1763701200000,794102

In [8]:
from nbresult import ChallengeResult

result = ChallengeResult('apple',
    index_name=apple_df.index.name,
    index_type=apple_df.index.dtype,
    columns=apple_df.columns
)
result.write()
print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/ardad/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/ardad/data-debugging/tests
plugins: typeguard-4.4.2, anyio-4.8.0
collecting ... collected 0 items

============================ no tests ran in 0.00s =============================

In [9]:
import os, glob

print("CWD:", os.getcwd())
print("tests exists:", os.path.isdir("tests"))
print("tests files:", os.listdir("tests"))

print("pytest patterns:")
print("test*.py:", glob.glob("tests/test*.py"))
print("*_test.py:", glob.glob("tests/*_test.py"))

CWD: /home/ardad/data-debugging
tests exists: True
tests files: ['.ipynb_checkpoints', '.pytest_cache', 'test_hello.py', 'apple.pickle', '__init__.py']
pytest patterns:
test*.py: ['tests/test_hello.py']
*_test.py: []

In [10]:
result = ChallengeResult('hello',
    index_name=apple_df.index.name,
    index_type=apple_df.index.dtype,
    columns=apple_df.columns
)

result.write()
print(result.check())

============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0 -- /home/ardad/.pyenv/versions/3.12.9/envs/workintech/bin/python
cachedir: .pytest_cache
rootdir: /home/ardad/data-debugging/tests
plugins: typeguard-4.4.2, anyio-4.8.0
collecting ... collected 4 items

test_hello.py::TestHello::test_empty_arguments PASSED                    [ 25%]
test_hello.py::TestHello::test_happy_path PASSED                         [ 50%]
test_hello.py::TestHello::test_only_first_name PASSED                    [ 75%]
test_hello.py::TestHello::test_only_last_name PASSED                     [100%]

============================== 4 passed in 0.01s ===============================


ðŸ’¯ You can commit your code:

git add tests/hello.pickle

git commit -m 'Completed hello step'

git push origin master